[Desktop Entry]
Name=Letter Journey
Name[sv]=Bokstavsresan
Comment=Phonetics and letter learning game for children with dyspraxia
Comment[sv]=Fonetik och bokstavsinlärning för barn med dyspraxi
Exec=bokstavsresan
Icon=se.danielnylander.bokstavsresan
Terminal=false
Type=Application
Categories=Education;Autismappar
Keywords=letters;phonetics;dyspraxia;learning;children;
Keywords[sv]=bokstäver;fonetik;dyspraxi;lärande;barn;
